# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# VitePress
.vitepress/cache
dist

# IDE
.vscode/
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
